<h1>Hello</h1>
<%= link_to 'Click here', @url, target: 'blank' %>

<div class="authorizer-form">
  <%= form_tag(teams_path, method: :post) do %>
    <%= hidden_field_tag :token, @token %>
    <%= hidden_field_tag :secret, @secret %>
    <%= text_field_tag :verifier %>
    <%= submit_tag 'Submit' %>
  <% end %>
</div>
