<%= link_to 'Import another team', new_team_path %>
<h1><%= @team_presenter.name %></h1>
<ul>
  <% @team_presenter.players.each do |player| %>
    <li class="<%= player.benched? ? 'benched' : '' %>">
      <%= player.shortened_name %> <%= player.position %>-<%= player.team %>
    </li>
  <% end %>
</ul>
<%= link_to 'Refresh team data', team_path(@team_presenter.team), method: :put %>

<h2>Week <%= @team_presenter.week %> Matchup</h2>
<h4><%= @team_presenter.name %></h4>
<ul>
  <% @team_presenter.starting_players.each do |player| %>
    <li class="<%= player.benched? ? 'benched' : '' %>">
      <%= player.shortened_name %> <%= player.position %>-<%= player.team %>
    </li>
  <% end %>
</ul>
<h4><%= @opposing_team_presenter.name %></h4>
<ul>
  <% @opposing_team_presenter.starting_players.each do |player| %>
    <li class="<%= player.benched? ? 'benched' : '' %>">
      <%= player.shortened_name %> <%= player.position %>-<%= player.team %>
    </li>
  <% end %>
</ul>

<h2>Games To Watch (Week <%= @team_presenter.week %>)</h2>
<% @matchup_presenters.each do |matchup| %>
  <section class="matchup">
    <header>
      <%= matchup.header %> @ <%= matchup.kickoff %> EST
    </header>
    <% @matchup_player_filter.matchup_players(matchup.team_names).each do |player| %>
      <div class="player">
        <%= image_tag player.image, class: 'circle' %>
        <%= player.matchup_player_blurb %>
      </div>
    <% end %>
  </section>
<% end %>
