<% provide(:header) do %>
  <%= link_to new_team_path do %>
    <i class="fa fa-cloud-download"></i> Import another team
  <% end %>
<% end %>

<div class="team-name-header">
  <%= image_tag @team_presenter.image, class: 'circle large-icon' %>
  <div>
    <h1><%= @team_presenter.name %></h1>
    <%= link_to my_teams_path(id: @team_presenter.team), method: :post, class: 'button primary-button' do %>
      <i class="fa fa-plus-circle"></i> Save
    <% end %>
    <%= link_to 'Matchup View', matchup_team_path(@team_presenter.team), class: 'button secondary-button' %>
  </div>
</div>
<div class="team-header"><i class="fa fa-flag"></i> My Team <%= link_to team_path(@team_presenter.team), method: :put, class: 'header-link' do %>Refresh <i class="fa fa-refresh"></i><% end %></div>
<ul class="team">
  <% @team_presenter.players.each do |player| %>
    <li class="<%= player.benched? ? 'benched' : '' %>">
      <%= player.shortened_name %> <%= player.position %>-<%= player.team %>
    </li>
  <% end %>
</ul>

<h2>Week <%= @team_presenter.week %> Games</h2>
<% @matchup_presenters.each do |matchup| %>
  <section>
    <div class="team-header">
      <i class="fa fa-television"></i> <%= matchup.header %> @ <%= matchup.kickoff %> EST
    </div>
    <ul class="team">
      <% @matchup_player_filter.matchup_players(matchup.team_names).each do |player| %>
        <li class="player">
          <%= image_tag player.image, class: 'circle small-icon' %>
          <%= player.matchup_player_blurb %>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>
