<h1>FantasyToSee</h1>

<% if @my_teams.any? %>
  <section class="margin-bottom-large">
    <div class="team-header">
      My Teams
    </div>
    <ul class="team">
      <% @my_teams.each do |team| %>
        <li>
          <%= link_to team.name, team_path(team) %>
          <%= link_to my_team_path(team.id), method: :delete, class: 'warning' do %>
            <i class="fa fa-times-circle"></i> Remove
          <% end %>
        </li>
      <% end %>
      <li>
        <%= link_to new_team_path, class: 'button secondary-button mobile-full-button' do %>
          <i class="fa fa-cloud-download"></i> Import another team
        <% end %>
      </li>
    </ul>
  </section>

  <section>
    <%= form_tag(time_zones_path, method: :post) do %>
      <%= select_tag :time_zone, time_zone_options_for_select((cookies[:time_zone] || 'Eastern Time (US & Canada)'), ActiveSupport::TimeZone.us_zones), class: 'margin-bottom' %>
      <div>
        <%= submit_tag 'Set Time Zone', class: 'button primary-button mobile-full-button' %>
      </div>
    <% end %>
  </section>
<% else %>
  <section class="box">
    <p>Welcome to FantasyToSee! Import your fantasy football team(s) to figure out what games to watch for the week and which players to root for in the games. The MatchUp View pulls your opponent's team for the week and compiles which games to watch accordingly.</p>

    <%= link_to new_team_path, class: 'button primary-button mobile-full-button' do %>
      <i class="fa fa-cloud-download"></i> Import team
    <% end %>
  </section>
<% end %>
