<!DOCTYPE html>
<html>
<head>
  <title>FantasyToSee</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
  <header>
    <div class="nav-links content">
      <%= link_to root_path, class: 'home-link' do %>
        <i class="fa fa-home"></i> Home
      <% end %>
      <%= yield(:header) %>
    </div>
  </header>
  <% flash.each do |key, value| %>
    <div class="content alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <div class="content">
    <%= yield %>
  </div>

  <footer>
    &copy; <%= Time.now.year %> Tiffany Huang | <%= link_to 'GitHub', 'https://github.com/tiffling', target: '_blank' %> | <%= link_to 'LinkedIn', 'https://www.linkedin.com/in/tiffanylinghuang', target: '_blank' %>
  </footer>
</body>
</html>
